*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family:'Trebuchet MS';/*, Arial, sans-serif'*/
    color:#fffb96;
    background-image: linear-gradient( #ff71ce, #b961ff);
}

h1{
    font-family:'Times New Roman';/*, Times, serif*/
}

img{
    width: 100%;
}


.description {
    color:#01cdfe
}


.three_photo_flex {
    display: flex;
    padding:0%;
    align-items: center;
    background-color: #01cdfe;
}

.flex_centre{
    flex: 1;
}

.flex_side{
    flex: 1;
}

#left_palm{
    transform: scale(1,1);
}

#right_palm{
    transform: scale(-1,1); 
}
